/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

.bubble {
  z-index: 5;
  .in-bubble-content {
    z-index: 3;
  }
  &.edit {
    user-select: text;
    cursor: text;
    .bubble-label {
      &:after {
        content: "";
      }
    }
  }
  .bubble-label {
    text-align: center;
    color: black;
    &:empty:not(:focus) {
      color: grey;
      max-width: 100%;
      &:after {
        content: attr(data-placeholder);
        font-style: italic;
        font-size: calc(1em);
      }
    }
    &[contenteditable='true']:before {
      content: "\feff "; //to prevent small height when edit in firefox http://stackoverflow.com/a/23530317
    }
  }
  min-width: 0;
  margin: 0 0 0 0;
  &.selected {
    .in-bubble-content {
      //background-color: attr(data-background-selected) !important;
    }
  }
  &.selected{
    .bubble-label {
      &:empty:not(:focus):after {
        content: attr(data-placeholder);
        color: grey;
        font-style: italic;
      }
    }
    z-index: 11;
    .in-bubble-content {
      z-index: 5;
    }

  }
  .image_container {
    z-index: 3;
    position: relative;
    min-width: 60px;
    text-align: right;
    &:empty {
      min-width: 0;
    }
  }
}
