/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

.bubble {
  z-index: 5;
  .in-bubble-content {
    z-index: 3;
  }
  &.edit {
    user-select: text;
    cursor: text;
    .bubble-label {
      &:after {
        content: "";
      }
    }
  }
  min-width: 0;
  margin: 0 0 0 0;
  &.selected{
    .bubble-label {
      &:empty:not(:focus):after {
        content: attr(data-placeholder);
        color: grey;
        font-style: italic;
      }
    }
    z-index: 11;
    .in-bubble-content {
      z-index: 5;
    }

  }
  .image_container {
    z-index: 3;
    position: relative;
    min-width: 60px;
    text-align: right;
    &:empty {
      min-width: 0;
    }
  }
}
