/*
 * Copyright Vincent Blouin under the GPL License version 3
 */

.vertex {
  /*white-space: nowrap; because sometimes when hovering the relation menu and there is a vertex image it messes up */
  white-space: nowrap;
  &.meta {
    .in-bubble-content {
      border-radius: 5px;
      border: $edgeSize solid $metaColor;
      color: black;
      text-shadow: none;
    }
  }

  &.selected {
    z-index: 12;
    $selectedBoxShadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    .in-bubble-content {
      background-color: $selectBubbleColor;
      box-shadow: $selectedBoxShadow;
    }
  }

  .in-bubble-content {
    border-radius: 50px;
    white-space: normal;
  }
}
