/*!
 * Copyright Vincent Blouin under the GPL License version 3
 */
@import "variables",
"relation",
"bubble",
"vertex",
"zoom";
body{
  //overflow-x: scroll;
}
[draggable] {
  cursor: move;
  -khtml-user-drag: element; //for safari http://stackoverflow.com/a/3977637
}

.not-editable .bubble.single-selected .bubble-label {
  &:after {
    content: "";
    color: grey;
    font-style: italic;
  }
}
